.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 3rem;
}
.sum {
  text-align: center;
  /* font-size: 18px; */
}
.inputStyles {
  font-size: 1.75rem;
  width: 8rem;
  height: 2rem;
  padding: 8px 16px;
}

@media (max-width: 768px) {
  .inputStyles {
    font-size: 1rem;
    padding: 8px;
  }
}
