.card {
  width: 50vw;
  height: 70vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.buttonContainer > *:only-child {
  margin: 0 auto;
}
.button {
  display: block;
  outline: 0;
  border: 0;
  padding: 8px 32px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;

  background-color: #6666ff;
  color: white;
}

.buttonAudio {
  outline: 0;
  border: 0;
  padding: 8px 32px;
  background-color: #ffff;
  color: #000;
  outline: 1px solid #000;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  width: 7rem;
}

.buttonBack {
  display: block;
  outline: 0;
  border: 0;
  padding: 8px 32px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;

  background-color: #ffff;
  color: #6666ff;
  outline: 1px solid #6666ff;
}

.buttonBack:hover {
  color: #4d4dff;
}
.button:hover {
  background-color: #4d4dff;
}

@media (max-width: 426px) {
  .card {
    width: 90vw;
  }
  .button,
  .buttonBack {
    font-size: 16px;
    font-weight: 600;
  }
  .buttonContainer {
    flex-direction: column;
    width: 60%;
    /* justify-content: stretch;
    align-items: center; */
  }
  .buttonContainer > * {
    width: 100%;
  }
}
